#frontend
/frontend/node_modules


#customer
backend/customer/node_modules
backend/customer/.env

#products
backend/products/node_modules
backend/products/.env

#orders
backend/orders/node_modules
backend/orders/.env

#gateway
backend/gateway/node_modules